# Core functionality - changes here should be rare!
/src/app.py                   @LeatherBrawler
/src/backend/database.py      @LeatherBrawler
/src/backend/routers/auth.py  @LeatherBrawler

# The frontend will need refactored soon to be more object oriented.
/src/static/   @LeatherBrawler
